body{
  width: 850px;
  margin: 20px auto;
}
h1{
  text-align: center;
  font-size: 28px;
}
input{
  width: 50px;
  height: 22px;
  text-align: right;
  padding-right: 4px;
  padding-bottom: 2px;
  background-color: lightyellow;
}
form{
  padding-bottom: 10px;
}
.message{
  color: darkred;
  padding-left: 10px;
}
